body{
    
    margin: 0px;
}



.ToanPhan{
    height:1080px;
    width: 100%;
    margin: 0px;
    background-image: url(/ASMGD2/hinh/bgGthieu.jpg);
    
}
.ToanPhan .search-box{
    padding: 9px;
    border: 2px double black;
    
    
}
.ToanPhan .search-box a{
    text-decoration: none;
    color: aqua;
}
.menu{
    width: 700px;
    float: left;
    height: 100px;
    margin-left: -50px;
}
ul{
    float: left;
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 14%;
    border: 5px double black;

}
ul li {
    list-style: none;
    margin-left: 60px;
    font-size: 15px;
} 
ul li a {
    text-decoration: none;
    color: white;
    font-family: arial, Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: .3s ease;
}
ul li a:hover{
    color: orange;
} 
.sub-menu{
    display: none;
    border-radius: 5px;
    list-style: none;
    position: relative;
    margin: 0px;
    padding: 0;
    
}
ul.hmenu>li>a:hover{
    background-color: white;
    
}
ul.hmenu>li{
    float: left;
    position: relative;
}
ul.hmenu>li:hover>.sub-menu{
    display: block;
    background-color: black;
    border: 20px solid;
    margin-left: 20px;
    padding: 5px;
    
}

.ToanPhan .AnhBia{
    float: left;
    color: aqua;
    
}
.ToanPhan .AnhBia a {
    text-align: center;
    
    color: aqua;
    text-decoration: none;
   
}
.ToanPhan .AnhBia a:hover{
    color: aquamarine;
    text-decoration: underline;
}


.ToanPhan .DanhSach{
    position: absolute;
    top: 200px;
    margin: 30px;
    
    
}
.ToanPhan .DanhSach a{
    text-decoration: none;
    float: left;
    margin: 40px;
}
.ToanPhan .DanhSach a p{
    text-align: center;
    font-size: 150%;
    color: azure;
}
.ToanPhan .DanhSach img{
    border: double;
    border-radius: 15%;
    background-color: azure;
    box-shadow: 5px 5px black;

}
.ToanPhan .DanhSach img:hover{
    box-shadow: 6px 6px violet;
}
.left{
    margin-top: 700px;
    width: 300px;
    height: 300px;
    background-image: url(../ASMGD2/hinh/mua\ dong.jpg);